/GeneticTunesCore/obj
/GeneticTunesCore/.vs
/GeneticTunesCore/bin
/GeneticTunesCore/GeneticTunesCoreTests/obj
/GeneticTunesCore/GeneticTunesCoreTests/bin
/GeneticTunesCore/GeneticTunesCoreInterfaces/obj
/GeneticTunesCore/GeneticTunesCoreInterfaces/bin
